config SND_SIMPLE_CARD
	tristate "ASoC Simple sound card support"
	help
	  This option enables generic simple sound card support

config SND_SIMPLE_CARD_PLUS
	tristate "ASoC Simple sound card plus support"
	help
	  This option enables generic simple sound card plus support
